/* h1{
    color: #282828;
    background-color: #67abcd;
} */

#box {
    background-color: blue;
}

.heading {
    color: red;
}

/* #btn {
    background-color: green !important ; 
} */